{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}


<div class="row mt-4 page-container">
  <div class="col-lg-12">
    <h2>Background</h2>
    <div>
      <div>Depression is one of the most common neuropsychiatric disorders, with a prevalence rate exceeding 4.5%. Although existing antidepressants are generally effective, they come with numerous side effects such as drowsiness, seizures, and cardiotoxicity. Moreover, nearly half of the patients fail to achieve sustained remission, and approximately one-third do not respond to any interventions.
      </div>
      <div>Our research has identified that the traditional Chinese medicine, Chaihu (Bupleurum), can regulate neurotransmitters, alleviate depressive symptoms, and improve sleep quality. After studying the components of Chaihu, we discovered that kaempferol, a substance with significant biological activity, shows good potential in treating depression and has a certain alleviating effect on depressive symptoms.
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <h2>Challenges</h2>
    <div>
      <div>The cost of psychotherapy for depression is high, while pharmacotherapy is often accompanied by significant side effects.
      </div>
      <div>The natural source of kaempferol is relatively limited, making it difficult to meet the demands for large-scale applications.</div>
    </div>
  </div>

  <div class="col-lg-12">
    <h2>Design</h2>
    <div>
      <div>We selected the relatively inexpensive naringenin as the substrate and introduced the genes for flavanone 3-hydroxylase (F3H) and flavonol synthase (FLS) into Escherichia coli. Our engineered bacteria can successfully convert naringenin into kaempferol.
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <h2>Gene Circuit</h2>
    <div class="flex-column align-center">
      <img src="https://static.igem.wiki/teams/5482/desc/lu-xian-tu.png" style="width: 80%;margin: 0 auto;" />
      <div class="img-desc">F3H: Flavanone 3-hydroxylase, FLS: Flavonol synthase</div>
      <div>The conversion of naringenin to kaempferol involves the action of two key enzymes: First, flavanone 3-hydroxylase (F3H) introduces a hydroxyl group into naringenin; next, flavonol synthase (FLS) forms a double bond at the C2-C3 position of dihydrokaempferol. This series of enzymatic reactions ultimately transforms naringenin into the biologically active kaempferol.
      </div>
    </div>
  </div>
  
</div>

<style>
  .page-container {
    font-family: 'Times New Roman';
    font-size: 1.2rem;
  }

  .img-desc {
    font-size: 1rem;
    color: #bdc3c7;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 12px;
    text-align: center;

  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .align-center {
    align-items: center;
  }

  h2 {
    margin-top: 2rem;
  }
</style>

{% endblock %}
